
.inform{
    margin-top: 80px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.head-w{
    margin: auto;
    width: 80%;
    margin-top: 15px; 
}

.inform-col{
    width: 90%;
    margin: 25px;
    display: inline-block;
    line-height: 1.9em;
}

.diagram{
    width: 50%;
}

@media only screen and (max-width: 780px) {

.inform{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.inform-col{
    width: 90%;
    margin: 15px;
    display: inline-block;
}

.diagram{
    width: 400px;
}

}

@media only screen and (max-width: 660px) {

.inform{
    margin-top: 200px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.inform-col{
    width: 90%;
    margin: 10px;
    display: inline-block;
}

.diagram{
    width: 350px;
}
.diagram1{
    display: none;
}
